body,
html {
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 360px; */
}

.top {
  display: flex;
  padding: 10px 10px;
}

.color-schemes {
  display: flex;
}

.color-strip {
  border: 1px solid red;
  height: 300px;
  width: 72px;
}

.strips {
    height: 300px;
}

#strip1 {
  background: #f55a5a;
}

#strip2 {
  background: #2b283a;
}

#strip3 {
  background: #fbf3ab;
}

#strip4 {
  background: #aad1b6;
}

#strip5 {
  background: #a626d3;
}


select {
    margin-right: 3px;
    margin-left: 3px;
    border: none;
    outline: 1px #181818 solid;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
}

button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: antiquewhite;
}

input {
    cursor: pointer;
}

p {
    font-size: 10px;
}